.boardSquare{
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.light{
    -fx-background-color: #e8ceab;
}

.dark{
    -fx-background-color: #bc7944;
}

.clicked{
    -fx-background-color: red;
}

.target{
    -fx-background-color: yellow;
}

.wPawn{
    -fx-background-image: url(/pieces/wP.png);
}
.bPawn{
    -fx-background-image: url(/pieces/bP.png);
}
.wKnight{
    -fx-background-image: url(/pieces/wN.png);
}
.bKnight{
    -fx-background-image: url(/pieces/bN.png);
}
.wBishop{
    -fx-background-image: url(/pieces/wB.png);
}
.bBishop{
    -fx-background-image: url(/pieces/bB.png);
}
.wRook{
    -fx-background-image: url(/pieces/wR.png);
}
.bRook{
    -fx-background-image: url(/pieces/bR.png);
}
.wQueen{
    -fx-background-image: url(/pieces/wQ.png);
}
.bQueen{
    -fx-background-image: url(/pieces/bQ.png);
}
.wKing{
    -fx-background-image: url(/pieces/wK.png);
}
.bKing{
    -fx-background-image: url(/pieces/bK.png);
}